@model IEnumerable<Zadanie_Rekrutacyjne.Models.TreeView>


@foreach (var item in Model.Where(t => t.ParentId == ViewBag.parentId))
{
    <li>
        @{
            var ilosc = Model.Where(a => a.ParentId == item.Id).Count();
        }
        @if (ilosc > 0)
        {
            <span class=" collapsible " id="@item.Id"><i class="fa fa-angle-right fa-lg" id="@item.Id" style="color:black;"></i>&nbsp;</span>
        }
        else
        {
            <span style="width:15px; display:inline-block">&nbsp;</span>
        }
        <span>
            @item.Name
            @if (User.IsInRole("Admin"))
            {
                <a href="/TreeView/CreateChild/@item.Id">
                    <i class="fa fa-plus-square" style="color:green;"></i>
                </a>
                <a href="/TreeView/Edit/@item.Id">
                    <i class="fa fa-pencil"></i>
                </a>
                if (item.Id != 1)
                {
                    <a href="/TreeView/Move/@item.Id">
                        <i class="fa fa-arrows-v"></i>
                    </a>
                    <a href="/TreeView/Delete/@item.Id">
                        <i class="fa fa-trash fa-lg" style="color:red;"></i>
                    </a>
                }
            }
        </span>
        @if (ilosc > 0)
        {
            <ul>
                @Html.Action("Treeview", "TreeView", new { parentId = item.Id })
            </ul>
        }
    </li>
}

